:root {
  --buttonColor: rgb(34, 42, 104);
  --buttonHover: rgba(34, 42, 104, 0.95);
  --backgroundColor: rgb(228, 226, 226);
  --boxShadow: 1px 1px 2px 1px rgba(180, 179, 179, 0.493),
    -1px -1px 2px 1px rgba(170, 167, 167, 0.383);
}

.preview {
  margin: 40px;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  align-items: center;
  top: 2%;
  left: 0%;
  right: 0%;
  max-width: 100%;
  max-height: fit-content;
  z-index: 1;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 4px;
  box-shadow: var(--boxShadow);
}

.preview h5 {
  margin: 20px auto;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--buttonColor);
}

.preview ul {
  margin: 0px auto;
  padding: 5px;
  list-style-type: none;
  /* border: solid 2px silver; */
  border-radius: 20px;
  display: flex;
}

.preview ul li {
  margin: 0px auto;
  padding: 5px;
  list-style-type: none;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(45, 45, 46);
  font-weight: bold;
}

/* Mobile view */
@media (max-width: 543px) {
  .preview .videoBox {
    margin: auto;
    padding: 0px;

    position: relative;
    top: 1%;
    left: 2%;
    right: 2%;
    width: 90%;
    height: 80vh;
  }
  .videoBox .placeholder {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100%;
    height: 200px;
    /* border: solid 1px; */
    background-color: rgba(115, 145, 245, 0.116);
    border-radius: 11px;
  }

  .videoBox video {
    margin: 0px;
    padding: 0px;

    width: 95%;
    height: 200px;
  }

  .videoBox iframe {
    margin: 0px;
    padding: 0px;
    width: 410px;
    height: 200px;
  }

  .preview input {
    margin: 20px auto;
    padding: 5px 10px;
    border: none;
    border-bottom: solid 1px var(--buttonColor);
    width: 200px;
    outline: none;
    background-color: transparent;
  }

  /* Styling for Form */

  .template {
    margin: auto;
    padding: 10px;
    max-height: 330px;
    width: 500px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    position: fixed;

    top: 8%;
    /* left: 5%; */
    /* right: 5%; */
    left: auto;
    /* right: auto; */
    z-index: 3;
  }
  .template {
    margin: 1px;
    padding: 1px;
    height: 10%;
    transition: 1s all ease-in-out;

  }

  .template form {
    margin: 10px auto;
    padding: 5px;
    transition: 1s all ease-in-out;

    
    position: relative;
    top: 37%;
    left: auto;
    right: 50%;

    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, .4);
    
    box-shadow: var(--boxShadow);
  }

  .template form:hover {
    box-shadow: var(--boxShadow);
  }
  .template form input {
    margin: 5px auto;
    padding: 2px 3px;
    display: flex;
    position: relative;

    border: none;
    border-bottom: solid 1px var(--buttonColor);

    width: 100px;
    height: 11px;
    background-color: transparent;

    font-size: 10px;
  }

  .template form #btn {
    margin: 0px auto;
    padding: 3px 10px;

    outline: none;
    border: none;
    background-color: var(--buttonColor);
    font-size: 11px;
    border-radius: 30px;
    transition: 2s all ease-in-out;
    color: white;
  }

  .template form #btn:hover {
    background-color: white;
    color: var(--buttonColor);
    border: 3px solid var(--buttonColor);
  }
}

/* for tablet view */
@media (min-width: 544px) {
  .preview .videoBox {
    margin: auto;
    padding: 0px;

    position: relative;
    top: 1%;
    left: 2%;
    right: 2%;
    width: 90%;
    height: 70vh;
  }
  .videoBox .placeholder {
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 400px;
    width: 100%;
    background-color: rgba(115, 145, 245, 0.116);
  }

  .videoBox video {
    margin: 0px;
    padding: 0px;

    height: 400px;
    width: 100%;
  }

  .videoBox iframe {
    margin: 0px;
    padding: 0px;
    height: 400px;
    width: 100%;
  }

  .preview input {
    margin: 20px auto;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--buttonColor);
    width: 200px;
    outline: none;
  }

  /* Styling for Form */

  .template {
    margin: auto;
    padding: 10px;
    max-height: 330px;
    width: 500px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    position: fixed;

    top: 8%;
    /* left: 5%; */
    /* right: 5%; */
    left: auto;
    /* right: auto; */
    z-index: 3;
  }
  .template {
    margin: 1px;
    padding: 1px;
    transition: 1s all ease-in-out;

    height: 10%;
  
  }

  .template form {
    margin: 20px auto;
    padding: 10px;
    transition: 1s all ease-in-out;

    
    position: relative;
    top: 52%;
    left: auto;
    right: 50%;

    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, .4);
    
    box-shadow: var(--boxShadow);
  }

  .template form:hover {
    box-shadow: var(--boxShadow);
  }
  .template form input {
    margin: 10px auto;
    padding: 2px 3px;
    background-color: transparent;
    display: flex;
    position: relative;

    border: none;

    width: 130px;
    height: 20px;
    border-bottom: solid 1px var(--buttonColor);
  }

  .template form #btn {
    margin: auto;
    padding: 6px 50px;
    display: flex;
    outline: none;
    border: none;
    background-color: var(--buttonColor);
    font-size: 14px;
    border-radius: 30px;
    transition: 2s all ease-in-out;
    color: white;
  }

  .template form #btn:hover {
    background-color: white;
    color: var(--buttonColor);
    border: 3px solid var(--buttonColor);
  }
}

/* Desktop styling */
@media (min-width: 1020px) {
  .preview .videoBox {
    margin: auto;
    padding: 0px;

    position: relative;
    top: 0%;
    left: 2%;
    right: 2%;
    width: 90%;
    height: 55vh;
  }
  .preview .videoBox .placeholder {
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 400px;
    min-width: 100%;
    background-color: rgba(115, 145, 245, 0.116);
    border-radius: 11px;
  }

  .videoBox video {
    margin: 0px;
    padding: 0px;

    height: 60vh;
    width: 100%;
  }

  .videoBox iframe {
    margin: 0px;
    padding: 0px;
    height: 400px;
    width: 100%;
  }

  .preview input {
    margin: 20px auto;
    padding: 5px 10px;
    background-color: transparent;

    display: flex;
    border: none;
    border-bottom: solid 1px var(--buttonColor);
    width: 200px;
    outline: none;
  }

  /* Styling for Form */

  .template {
    margin: auto;
    padding: 10px;
    max-height: 330px;
    width: 500px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    position: fixed;

    top: 8%;
    /* left: 5%; */
    /* right: 5%; */
    left: auto;
    /* right: auto; */
    z-index: 3;
  }
  .template {
    position: absolute;
    margin: 1px;
    padding: 1px;
    height: 10%;
    transition: 1s all ease-in-out;
  }

  .template form {
    padding: 10px;

    /* max-width: 100%; */
    position: relative;
    top: 68%;
    left: auto;
    right: 50%;
    transition: 1s all ease-in-out;

    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, .4);
    box-shadow: var(--boxShadow);
  }

  .template form:hover {
    box-shadow: var(--boxShadow);
  }
  .template form input {
    margin: 10px auto;
    padding: 2px 3px;
    display: flex;
    background-color: transparent;
    position: relative;

    border: none;

    width: 130px;
    height: 20px;
    border-bottom: solid 1px var(--buttonColor);
  }

  .template form #btn {
    margin: auto;
    padding: 6px 50px;
    display: flex;
    outline: none;
    border: none;
    background-color: var(--buttonColor);
    font-size: 14px;
    border-radius: 30px;
    transition: 2s all ease-in-out;
    color: white;
  }

  .template form #btn:hover {
    background-color: white;
    color: var(--buttonColor);
    border: 3px solid var(--buttonColor);
  }
}
.preview .videoBox .placeholder{
  height: 100%;
}