:root {
  --buttonColor: rgb(34, 42, 104);
  --buttonHover: rgba(34, 42, 104, .95);
  --backgroundColor: rgb(228, 226, 226);
  --boxShadow: 1px 1px 2px 1px rgba(180, 179, 179, 0.493),
    -1px -1px 2px 1px rgba(170, 167, 167, 0.383);
}
/* Mobile view */
@media (max-width: 543px) {
  .formTemplates {
    margin: 20px auto 0px;
    padding: 15px;
    position: fixed;
    top: 10%;
    bottom: 4%;
    left: 10%;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    height: 55vh;

    display: flex;

    border-radius: 10px;
    box-shadow: var(--boxShadow);
  }

  .temp {
    margin: 5px;
    padding: 10px;
    
    height: 50%;
    width: 50%;
  }
  #temp1 {
    margin: 1px;
    padding: 1px;
    height: 100%;
    width: 50%;
  }

  #temp1 form input {
    margin: 100px auto;
    padding: 3px 5px;
    display: flex;
    position: relative;
    
    border: none;

    width: 150px;
    height: 20px;
    border-bottom: solid 1px var(--buttonColor);
  }

  #temp1 form #btn {
    margin: 8px auto;
    padding: 6px 50px;
    display: flex;
    outline: none;
    border: none;
    background-color: var(--buttonColor);
    transition: 0.8s all ease-in-out;
    font-size: 14px;
    border-radius: 30px;
    color: white;
  }
  #temp1 form #btn:hover {
    background-color: white;
    color: var(--buttonColor);
    border: 3px solid var(--buttonColor);
  }

  #temp2 {
    margin: 1px;
    padding: 1px;
    height: 100%;
    width: 50%;
  }

  #temp2 .tempBox {
    margin: 90px auto 5px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tempBox span {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .tempBox h5 {
    margin: 15px;
    padding: 1px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: lighter;
  }

  #temp2 .tempBox button {
    margin: 20px;
    padding: 7px 65px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    background-color: var(--buttonColor);
    border-radius: 5px;
    font-size: 16px;
    font-family: sans-serif;
    transition: 0.8s all ease-in-out;
    max-width: 100%;
  }
  #temp2 .tempBox button:hover {
    background-color: white;
    color: var(--buttonColor);
    border: 3px solid var(--buttonColor);
  }
}

/* for tablet view */
@media (min-width: 544px) {
  .formTemplates {
    margin: 20px auto 0px;
    padding: 15px;
    position: fixed;
    top: 10%;
    bottom: 4%;
    left: 10%;
    right: 10%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: row-reverse;
    height: 55vh;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
  }

  .temp {
    margin: 5px;
    padding: 10px;
    width: 50%;
    border-radius: 30px;
  }
  #temp1 {
    margin: 1px;
    padding: 1px;
    width: 50%;
  }

  .tempbtnBox {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
  }
  .tempbtn {
    margin: 10px auto;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    background-color: var(--buttonColor);
    color: white;
    font-size: 13px;
    transition: 0.8s all ease-in-out;
  }
  .tempbtn:hover {
    background-color: white;
    color: var(--buttonColor);
    border: 3px solid var(--buttonColor);
  }
  #temp1 form {
    
    padding: 40px 2px 20px;
    height: 50px;
    position: relative;
    top: 50%;
    width: 100%;
   
  }

  #temp1 form input {
    
    padding: 3px 5px;
    display: flex;
    position: relative;

    border: none;
    border-bottom: solid 1px var(--buttonColor);
    width: 100%;
    height: fit-content;
    top: 100px;
  }

  #temp1 form #btn {
    margin: auto;
    padding: 6px 70px;
    display: flex;
    outline: none;
    border: none;
    background-color: var(--buttonColor);
    font-size: 14px;
    border-radius: 10px;
    transition: 0.8s all ease-in-out;

    color: white;
  }
  #temp1 form #btn:hover {
    background-color: white;
    color: var(--buttonColor);
    border: 3px solid var(--buttonColor);
  }

  .tempBox {
    margin: 90px auto 5px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .tempBox span {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .tempBox h5 {
    margin: 15px;
    padding: 1px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: lighter;
  }

  #temp2 .tempBox button {
    margin: 20px 20%;
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    border: none;
    color: white;
    background-color: var(--buttonColor);
    border-radius: 10px;
    font-size: 18px;
    transition: 0.8s all ease-in-out;
    font-family: sans-serif;
    max-width: 100%;
  }
  #temp2 .tempBox button:hover {
    background-color: white;
    color: var(--buttonColor);
    border: 3px solid var(--buttonColor);
  }
}
