:root{
    --buttonColor:rgb(125, 69, 27);
    --buttonHover:rgba(125, 69, 27, .5);
    --backgroundColor:rgb(228, 226, 226);
    --boxShadow: 1px 1px 2px 1px rgba(180, 179, 179, 0.493),
            -1px -1px 2px 1px rgba(170, 167, 167, 0.383);
}

a {
    text-decoration: none;
}

.home {
    margin: 40px auto;
    padding: 0px;

    width: 500px;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
}
.viewModal {
    margin: 10px;
    padding: 40px;
    justify-content: center;
    height: auto;
    width: 300px;
    min-height: 400px;
    background-color: white;
}
.viewModal h2 {
    margin: 0px auto 120px;
    padding: 5px;
    text-align: center;
    font-size: 34px;
    color: var(--buttonColor);
}

.viewModal button {
    margin: 40px auto;
    padding: 17px 40px;
    display: flex;
    margin: auto;
    text-align: center;
    background-color: var(--buttonColor);
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 17px;
    color: white;
    box-shadow: var(--boxShadow);
}

.viewModal button:hover {
    margin: 40px auto;
    background-color: var(--buttonHover);
}
